.app-wrapper {
  margin: 0 auto;
  height: 1100px;
  width: auto;
  display: grid;

  background-color: #dfedf7;


  grid-template-areas:                         /* Разбивка */
  "h h"
  "n c";

  grid-template-rows: 60px 1fr;                /* количество строк */
  grid-template-columns: 2fr 10fr;             /* количество колонок */
  /* grid-gap: 10px; */
}

.app-wrapper-content {
  grid-area: c;
    background-color: cornsilk;
    margin-right: 100px;
}
